// COLORS
$orange: #f38e36;
$light-teal: #16af8c;
$teal: #108c73;
$dark-teal: #0f6b5a;
$darkest-blue: #001b2b;
$dark-blue: #142f42;
$blue-green: #08485c;
$gray-bg: #ebebeb;
$gray-icon: #898989;
$gray-copy: #a5a4a4;
$gray-copy-contrast: #747272;
$black-copy: #231f20;
$validation-error: #ff2e2e;
