// COLORS

$gray-bg: #ebebeb;
$gray-icon: #898989;
$gray-copy: #a5a4a4;
$validation-error-color: #ff2e2e;

$primary-color: #108c73;
$secondary-color: #f38e36;
$tertiary-color: #08485c;
$quaternary-color: #16af8c;

$main-font-color: #142f42;