// COLORS

$gray-bg: #ebebeb;
$gray-icon: #898989;
$gray-copy: #a5a4a4;
$validation-error-color: #ff2e2e;

$primary-color: #492BD4;
$secondary-color: #D42B61;
$tertiary-color: #B6D42B;
$quaternary-color: #2BD49E;
$quinary-color: #1c8665;

$main-font-color: darken($primary-color, 25%);